<h1> Welcome home! </h1>
<form action="/search" method="GET">
    <label for="city">City</label>
    <input type="text" name="city" id="city" placeholder="San Francisco" value="" required>
    <label for="state">State</label>
    <input type="text" name="state" id="state" placeholder="CA" value="" required>
    <button type="submit">Get er done!</button>
    <a href="/favorites">View My Favorite</a>
</form>